@import url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/variable/SUIT-Variable.css');
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
  font-family: 'SUIT Variable', sans-serif;
  font-weight: 400;
  letter-spacing: -0.01em;
}

@font-face {
  font-family: 'MaruBuri';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2107@1.1/MaruBuri-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.section-title {
  font-family: 'MaruBuri', serif;
  font-weight: 400;
  letter-spacing: 0.02em;
}

@font-face {
    font-family: 'MaruBuri';
    src: url('https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.woff2');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'MaruBuri';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff2);
    font-weight: 600;
    font-display: swap;
}
.online-service-m .m-title,
.Jomalone-service .title,
.best-item .title,
.exclusive-list li .service-title,
.exclusive-title{
  font-family: 'MaruBuri', serif;
  font-weight: 600;
  letter-spacing: 0.02em;
}